/* typography */

.rol-jog h3 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.prop p {
    line-height: 1.7;
}

.jogo__title {
    font-size: 2.1rem;
    inline-size: 100%;
}

/* buttons */

.hero__btn {
    padding-inline: 1em;
    padding-block: 0.5em;
    background-color: rgb(205, 0, 0);
    color: #fff;
    font-size: 1.8;
    box-shadow: 0 8px 0 rgb(155, 0, 0), 0 8px 8px #222;
    transition: all 0.2s ease;
}

.hero__btn:hover {
    background-color: rgb(205, 0, 0);
}

.hero__btn:active {
    box-shadow: none;
    transform: translateY(8px);
}

.prop .btn {
    padding-block: var(--size-3);
}

.jogo__btn {
    padding-block: var(--size-2);
}

/* sections */

.hero-bg {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-block-size: 85vh;
    background-color: rgb(15, 15, 15);
    color: #fff;
    box-shadow: var(--shadow-5);
    overflow: hidden;
    border-radius: var(--radius-2);
    margin: 30px;
    max-inline-size: 600px;
}

.casino {
    max-block-size: 85vh;
    block-size: auto;
}

.rol-jog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 1em;
    gap: 50px;
}

.lucky {
    block-size: 100px;
}

.prop {
    color: white;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: start;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-10);
    padding: 3em 1em;
    text-align: start;
}

.jogos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-10);
}

.jogo {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-7);
    padding-block-end: var(--size-7);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    max-inline-size: 400px;
}

.jogo__img {
    inline-size: 100%;
}

.jogo__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: 85%;
    gap: var(--size-3);
    text-align: start;
}

footer {
    background-color: var(--font-clr-700);
    color: #fff;
    text-align: center;
    padding: var(--size-3);
    font-size: 1.6rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

footer img {
    block-size: 2.4rem;
    inline-size: auto;
}

@media only screen and (max-height: 610px) and (orientation: landscape) {
    .hero-bg {
        display: none;
    }
}

@media only screen and (min-width: 610px) {
    .rol-jog h3 {
        font-size: 2.8rem;
    }

    .hero__btn {
        font-size: 2.1rem;
    }

    h1 {
        font-size: 3.6rem;
    }

    .prop {
        padding: 4em;
    }

    .prop p,
    .prop a {
        font-size: 2.1rem;
    }

    .jogos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .jogo {
        flex-basis: 40%;
    }

    .jogo__text {
        block-size: 240px;
    }
}

@media only screen and (min-width: 1080px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr auto;
        max-inline-size: 100%;
    }

    .hero__btn {
        font-size: 2.1rem;
    }

    .hero h3 {
        font-size: 3.2rem;
    }

    .casino {
        grid-column: 2 / 3;
        justify-self: flex-end;
    }

    .rol-jog {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        gap: 100px;
        justify-content: center;
        padding: 3em;
    }

    .jogo {
        flex-basis: 20%;
    }
    .jogo__text {
        block-size: 250px;
    }
}
