body {
    background-image: url(../images/background.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-block-size: 100vh;
    gap: var(--size-10);
    padding: var(--size-10);
}

/* typography */

.back {
    color: #fff;
    position: absolute;
    left: var(--size-4);
    top: var(--size-4);
}

.back:hover {
    color: var(--accent-clr-400);
}

.close {
    color: var(--font-clr-400);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 4.2rem;
    cursor: pointer;
}

.soon {
    color: #fff;
    font-size: 4.2rem;
}

.outros {
    color: #fff;
    list-style-type: none;
}

.outros a {
    color: #fff;
}

.outros a:hover {
    color: var(--accent-clr-400);
}

/* buttons */

.in-game__btn {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding-block: var(--size-2);
}

.in-game__btn:active {
    transform: translateY(5px);
    box-shadow: none;
}

.moeda__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.moeda__btn {
    padding-inline: 0;
    inline-size: 125px;
}

.dados__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-6);
}

.dados__btn {
    padding-inline: 0;
    inline-size: 95px;
}

/* cartas */

.pop-up-bg {
    block-size: 100%;
    inline-size: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.pop-up {
    text-align: center;
    inline-size: 80%;
    max-inline-size: 400px;
    block-size: 175px;
    background-color: #fff;
    border-radius: var(--radius-2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-10);
}

.pop-up__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-3);
}

/* moeda */

.moeda {
    inline-size: 150px;
    block-size: 150px;
    position: relative;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.moeda img {
    inline-size: 145px;
}

.cara,
.coroa {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cara {
    transform: rotateX(180deg);
}

@keyframes rodar-cara {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes rodar-coroa {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(2160deg);
    }
}

.moeda__text {
    color: #fff;
}

/* dados */

.dados {
    display: flex;
    justify-content: center;
    gap: var(--size-2);
}

.dados img {
    inline-size: 150px;
    block-size: auto;
}

.dados__text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-3);
}

.resultado {
    font-weight: 700;
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

/* roleta */

.menu-desafios-label {
    color: #fff;
    font-size: 2.1rem;
    text-decoration: underline;
}

.menu-desafios-label:hover {
    color: var(--accent-clr-400);
}

.menu-desafios-bg {
    background-color: rgba(0, 0, 0, 0.7);
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu-desafios {
    inline-size: 85%;
    max-inline-size: 550px;
    max-block-size: 90%;
    background-color: #fff;
    border-radius: var(--radius-2);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.menu-desafios__text {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-auto-rows: auto;
    gap: 3px;
}

.emoji {
    font-size: 2.4rem;
    align-self: center;
}

.arrow {
    align-self: center;
}

.chal {
    align-self: center;
    border-bottom: 1px solid var(--font-clr-400);
    padding: 1rem;
}

.chal:last-of-type {
    border-bottom: none;
}

#app {
    inline-size: 300px;
    block-size: 300px;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-10);
}

.marker {
    position: absolute;
    inline-size: 60px;
    left: 122px;
    top: 60px;
    z-index: 2;
}

.wheel {
    width: 100%;
    height: 100%;
}

.blur {
    animation: blur 10s;
}

@keyframes blur {
    0% {
        filter: blur(1.5px);
    }
    80% {
        filter: blur(1.5px);
    }
    100% {
        filter: blur(0px);
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    body {
        font-size: 1.6rem;
    }

    .carta {
        block-size: 200px;
    }

    .menu-desafios-label {
        font-size: 1.6rem;
    }

    .menu-desafios {
        max-inline-size: 450px;
    }

    .menu-desafios__text {
        font-size: 1.4rem;
        gap: 0;
    }

    #app {
        inline-size: 250px;
        block-size: 250px;
        position: relative;
        top: -45px;
        gap: var(--size-8);
    }

    .marker {
        position: absolute;
        inline-size: 45px;
        left: 104px;
        top: 50px;
        z-index: 2;
    }

    .wheel {
        width: 80%;
        height: 80%;
    }
}
